@CHARSET "UTF-8";

/* 화면 전체 폼 */
.bc-screen {
 
  width:100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #ddd; 
  border-radius: 4px;
  background-image: url('../img/system/back.png');
  /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
}

/* 화면 내부 폼. 화면 당 1개 이상 폼으로 구성됨 
   bc-form
       -- bc-form-header
          -- bc-header-label
          -- bc-header-buttons
             -- bc-button
       -- bc-form-search
       -- bc-form-body
       -- bc-form-footer
*/
.my-color {
	color:red;
}
.bc-form {
  width:100%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
/*  box-shadow: 0 0 10px black;*/
}

.bc-form-half {
	width: 50%;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border: 1px solid #ddd;
	border-radius: 4px;
/*  box-shadow: 0 0 10px black;*/
}

/* 폼 상단의 타이틀 및 버튼 부분 */
/*
.bc-form-header {
  width:100%;
  padding: 10px 0 5px 10px;
  border: 1px solid #ddd;
}	
*/
.bc-form-header {
  width:100%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #ddd;
}

/* 폼 좌측 상단 타이틀 */
.bc-header-label {
	font-size: 16pt;
  	color: #181818;
 /* background-image:url(../img/title_icon.png);*/
  	background-repeat:  no-repeat;
}

/* 폼 우측 상단 버튼들. 하위에 추가,저장, 삭제 버튼등이 있음 */ 
.bc-header-buttons {
}

/* 버튼 */
.bc-button {
  font-size: 9pt;
  margin-top: 5px;
  margin-bottom: 2px;
  padding: 2px;
}

.bc-form-search {
  width:100%;
  padding: 7px 20px;
  background-color: #eff3f5;
  border: 1px solid #a8c0e8;
  border-radius: 4px 4px 0 0;
  text-align: right;
}

.bc-form-search-half {
  width:100%;
  padding: 2px 20px;
  background-color: #eff3f5;
  border: 1px solid #a8c0e8;
  border-radius: 4px 4px 0 0;
  text-align: right;
}

@media screen and (max-width:1280px) {
.auiGrid {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #ddd;
  height : 500px;
  width  : 100%;
}
}

@media screen and (min-width:1440px) and (max-width:1600px) {
.auiGrid {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #ddd;
  height : 605px;
  width  : 100%;
}
}

@media screen and (min-width:1680px) and (max-width:1919) {
.auiGrid {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #ddd;
  height : 800px;
  width  : 100%;
}
}

@media screen and (min-width:1920px) {
.auiGrid {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #ddd;
  height : 825px;
  width  : 100%;
}
}

.labelText{
	float:left; 
	width:25%; 
	padding-top: 4px; 
	text-align: right; 
	margin-right:3%;
}
inputText{
	float:left; 
	width:72%;
}

/* 폼의 주요 Contents 부분. 테이블이 없을 경우만 사용  */ 
.bc-form-body {
  width:100%;
}

/* 폼의 주요 Contents 부분. 테이블이 없을 경우만 사용  */ 
.bc-form-footer {
  border:1px solid blue;
}


.grey {
  	color:grey;
}
.dropdown {
	color:grey;
}
.dropdown>a:hover {
		 
	/*color: #23527c;*/
	color: white;
	text-decoration: underline
}
/*
.white-text a {
	color: #337ab7;
	text-decoration: none
}
.white-text a:focus, .white-text a:hover {
		 
	color: #23527c;
	text-decoration: underline
}
.white-text a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}*/

/* 입력 
.bc-input {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
  border: 1px solid #ddd;
  width: 100%
}

*/


.bc_nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.bc_navbar-top-links {
    margin-right: 0;
}

.bc_nav>li {
	position: relative;
	display: block
}
.bc_nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px
}
.bc_nav>li>a:focus, .nav>li>a:hover {
					 
	text-decoration: none;
}

.bc_nav>li.disabled>a {
	color: #777
}
.bc_nav>li.disabled>a:focus, .nav>li.disabled>a:hover {
							  
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent
}
.bc_nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
					 
					  
	background-color: #eee;
}
.bc_nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}
.bc_nav>li>a>img {
	max-width: none
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* 그리드 왼쪽 정렬 */
.column-left {
	text-align:left;
}
/* 그리드 오른쪽 정렬 */
.column-right {
	text-align:right;
}


#overlay {
    position: fixed;
    left: 25%;
    top: 25%;
    padding: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    z-index: 100;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}

body.custom-modal-open #fade {
  background-color: darkred;
    -moz-opacity: 0.9;
    opacity: .90;
    filter: alpha(opacity=90);
}

#custom-modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
#custom-modal.ng-enter.ng-enter-active {
  opacity: 1;
}
#custom-modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
#custom-modal.ng-leave.ng-leave-active {
  opacity: 0;
}

body {
	margin: 0;
}

/*
@media (min-width:1184px) {
	.auiGrid {
		height : 780px;
		width  : 100%;'
      border : 1px solid black;
	}
}

@media (max-width:1185px) {
	.auiGrid {
		height : 780px;
		width  : 100%;'
      border : 1px solid black;
	}
}


@media (min-width:1184px) {
	.auiGrid {
		height : 400px;
		width  : 99.5%;'
      border : 1px solid black;
	}
}

@media (max-width:1185px) {
	.auiGrid {
		height : 400px;
		width  : 99.5%;'
      border : 1px solid black;
	}
}
*/


.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }


/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

md-dialog title {
     border: solid black 1px;
     margin-right: auto; margin-left: auto; width: 450px;      
 }