<!-- 
/**  
 * @Class Name : fmbCwMon.html
 * @Description : fmbCwMon
 * @Modification Information  
 * @

 * @ ----------  ---------  -------------------------------
 * @ 2017.05	 정유경
 * 

 * css: assets/css/fmb.css
 * controller : fmbCwMonCtrl.js
 *
 */
 -->
<!-- ngview 내부 페이지 -->
<div class='bc-screen' >
	<script src="modules/cmm/services/cmmFactSrvc.js"></script>
<!-- ngview 내부 header -->
<img src="assets/img/system/logo.png" style="margin:30px; float:left;">
<p style="margin:30px 250px 30px 400px; float:left; color:white; font-size:30pt; font-weight: bold;">생산 자원 통합 모니터링<p>
<div style="background-color: rgba(255,255,255,0.3); border-radius:25px; padding:10px 30px; margin:15px 0px 15px 80px; 
width:300px; height:90px; color:white; float:left;  font-size:12pt; font-weight:bold;"  >
<img style="width:40px; height:auto;" src="assets/img/system/BJT.jpg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img style="width:40px; height:auto;" src="assets/img/system/CABJ.jpg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img style="width:40px; height:auto;" src="assets/img/system/ITR.jpg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img style="width:40px; height:auto;" src="assets/img/system/OTR.jpg"><br>&nbsp;BJT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CABJ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ITR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OTR
</div>
<div style="background-color: rgba(255,255,255,0.3); border-radius:25px; padding:20px 30px; margin:15px 5px 15px 30px; width:200px; 
height:90px; font-size:12pt; font-weight:bold;float:left; color:white; clear:right;">
<img src="assets/img/button/Green25.png" style="margin-bottom:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/img/button/Red25.png" style="margin-bottom:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/img/button/White25.png" style="margin-bottom:10px; width:25px; height:25px;"><br>
가동&nbsp;&nbsp; 알람&nbsp; 비가동

</div>
<div style=" width:250px; height:100px;"> </div>

	

<!-- ngview 내부 body -->
<bc-form-body>
	<bc-back-panel2>
	<!--설비클래스 삽입 시작-->
	<!--<div bg-inner-ctrl class='bg-panel'></div> -->
  	<div ng-switch on="vm.eqptParamVo.factId">
    <div ng-switch-when="A" bg-inner-ctrl class='bg-panel' ng-style="{'background-image' : 'url(' + eachBg.A + ')'}"></div>
   	<div ng-switch-when="B" bg-inner-ctrl class='bg-panel' ng-style="{'background-image' : 'url(' + eachBg.B + ')'}"></div>
   	<div ng-switch-when="C" bg-inner-ctrl class='bg-panel' ng-style="{'background-image' : 'url(' + eachBg.C + ')'}"></div>
   	<div ng-switch-when="Comb" bg-inner-ctrl class='bg-panel' ng-style="{'background-image' : 'url(' + eachBg.Comb + ')'}"></div>
    </div> 
	<div class="EQPT">	
		 <ul>
			<!-- 설비이미지 repeat -->
			<li ng-repeat="eqpt in vm.eqptList">
			 <div class="{{eqpt.eqptCnm}}" type="{{eqpt.eqptType}}" plc="{{eqpt.plcId}}"
				  style="top:{{eqpt.cssTop}}; left: {{eqpt.cssLeft}}; 
				  		 width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}}; 
				  		 z-index:{{eqpt.cssZindex}};">
				  		 
	               <div ng-switch on="vm.stsData[$index]">  
	               <img ng-switch-when="0" class="obj" src="{{eqpt.stsImg0}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="1" class="obj" src="{{eqpt.stsImg1}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="2" class="obj" src="{{eqpt.stsImg2}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="3" class="obj" src="{{eqpt.stsImg3}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="4" class="obj" src="{{eqpt.stsImg4}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               </div> 
				</div>
			</li>
		</ul>
 	</div>
	</div>
	</bc-back-panel2>
		<!--설비클래스 삽입 끝-->
</bc-form-body>
</div>

