<!-- 
/**  
 * @Class Name : fmbCwMon.html
 * @Description : fmbCwMon
 * @Modification Information  
 * @

 * @ ----------  ---------  -------------------------------
 * @ 2017.05	 정유경
 * 

 * css: assets/css/fmb.css
 * controller : fmbCwMonCtrl.js
 *
 */
 -->
<!-- ngview 내부 페이지 -->
<div class='bc-screen' >
<script src="modules/cmm/services/cmmFactSrvc.js"></script>
<!-- ngview 내부 header -->
<bc-form-header logo='assets/img/system/logo.png' title="생산 자원 통합 모니터링">
<img src="assets/img/system/legend.png" style="width:500px; margin-left:300px">
</bc-form-header>

<!-- ngview 내부 body -->
<bc-form-body>
	<bc-back-panel2>
	<!--설비클래스 삽입 시작-->
	<!--<div bg-inner-ctrl class='bg-panel'></div> -->
  	<div ng-switch on="vm.eqptParamVo.factId">
    <div ng-switch-when="A" bg-inner-ctrl class='bg-panel' ng-style="{'background-image' : 'url(' + eachBg.A + ')'}"></div>
   	<div ng-switch-when="B" bg-inner-ctrl class='bg-panel' ng-style="{'background-image' : 'url(' + eachBg.B + ')'}"></div>
   	<div ng-switch-when="C" bg-inner-ctrl class='bg-panel' ng-style="{'background-image' : 'url(' + eachBg.C + ')'}"></div>
   	<div ng-switch-when="Comb" bg-inner-ctrl class='bg-panel' ng-style="{'background-image' : 'url(' + eachBg.Comb + ')'}"></div>
    </div> 
	<div class="EQPT">	
		 <ul>
			<!-- 설비이미지 repeat -->
			<li ng-repeat="eqpt in vm.eqptList">
			 <!-- <div class="{{eqpt.eqptCnm}}" type="{{eqpt.eqptType}}" plc="{{eqpt.plcId}}"
				  style="top:{{eqpt.cssTop}}; left: {{eqpt.cssLeft}}; 
				  		 width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}}; 
				  		 z-index:{{eqpt.cssZindex}};"> -->
				  <div class="{{eqpt.eqptCnm}}" type="{{eqpt.eqptType}}" plc="{{eqpt.plcId}}"
				  ng-style="{'top':eqpt.cssTop, 'left': eqpt.cssLeft, 'width':eqpt.cssWidth, 'height':eqpt.cssHeight,'z-index':eqpt.cssZindex}">
				  		 
	               <div ng-switch on="vm.stsData[$index]">  
	               <img ng-switch-when="0" class="obj" src="{{eqpt.stsImg0}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="1" class="obj" src="{{eqpt.stsImg1}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="2" class="obj" src="{{eqpt.stsImg2}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="3" class="obj" src="{{eqpt.stsImg3}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="4" class="obj" src="{{eqpt.stsImg4}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};" ng-click="showAdvanced(eqpt.plcId)">
	               </div> 
				</div>
			</li>
		</ul>
 	</div>
 	
 	
	</div>
	</bc-back-panel2>
		<!--설비클래스 삽입 끝-->
</bc-form-body>
</div>


 
