<!-- 
/**  
 * @Class Name : fmbLineA.html
 * @Description : fmbLineA
 * @Modification Information  
 * @

 * @ ----------  ---------  -------------------------------
 * @ 2017.06.16	 정유경
 * 

 * css: assets/css/fmb.css
 * controller : fmbLineACtrl.js
 *
 */
 -->
<!-- ngview 내부 페이지 -->
<div test-ctrl class='bc-screen' style="margin:0">
<!-- ngview 내부 header -->
<bc-form-header logo='assets/img/system/logo.png' title="라인007 생산 실적" is-mobile="isMobile" style="display:flex; align-items:center; flex-wrap: wrap;">
</bc-form-header>	


	<!-- ngview 내부 header -->
<!-- 	<div class='inner-header' style='width:1919px; height:116px;'>
		<img src="assets/img/system/logo.png" style="margin:30px 30px 0 30px; float:left;">
		<p style="margin:30px 250px 0 525px; float:left; color:white; font-size:30pt; font-weight: bold;">라인별 생산 실적 (A동)</p>
	</div>
 -->
	<!-- ngview 내부 body -->
	<bc-form-body> 
	<div layout="row" style="width:90%; margin:auto;">
		<div layout="column" layout-wrap style="width:18%;">
			<div layout="row" ng-repeat="line in vm.lineList track by $index" ng-if="$index%7==0" style="width:100%; border-radius:20px 20px 0 0;">
				<div grid-header-ctrl flex layout="column" layout-fill layout-wrap class="headerColorNested" data ="vm.lineList" is-mobile="isMobile"  ng-if="$parent.$index%7==0" >
				 <div style="color:white;">구분</div>
				 <div style="color:white;">목표</div>
				 <div layout="row" flex style="color:white;">
					 <div flex style="color:white;">실적</div>
					 <div layout="column" flex style="color:white; height:375px; ">
						 <div flex style="color:white;">주간</div>
						 <div flex style="color:white;">야간</div>
						 <div flex style="color:white;">합계</div>
					 </div>
				 </div>
				 
				 <div style="color:white;">달성률(%)</div>
				 <div style="color:white;">가동상태</div>
				</div>
			</div>
		</div>
		
		<div layout="cloumn" layout-wrap style="width:82%;">
		<div ng-repeat="line in vm.lineList track by $index" layout="row" ng-if ="$index%7==0" style="width:100%;">
		<div grid-panel-ctrl data = "vm.lineList" flex ng-repeat="line in vm.lineList track by $index" ng-if="$index>=$parent.$index &&$index<($parent.$index+7)" is-mobile="isMobile" layout="column" layout-fill layout-wrap class="colorNested" style="text-align:center;">
		  <div style="color:white;display:flex; align-items:center; justify-content: center;">
		    <div><p style="margin-bottom:0;">{{line.lineNm.split(' ')[0]}}</p><p>{{line.lineNm.split(' ')[1]}} {{line.lineNm.split(' ')[3]}}</p></div>
		  </div>
		  <div  style="color:white;">
		   {{vm.parseInt(line.dgoal) + vm.parseInt(line.ngoal)}}
		  </div>
		  <div style="color:white;">
		    {{vm.parseInt(line.dcount)}}
		  </div>
		  <div style="color:white;"> 
		   {{vm.parseInt(line.ncount)}}
		  </div>
		  <div style="color:white;">	
		    {{vm.parseInt(line.dcount) + vm.parseInt(line.ncount)}}
		  </div>
		  <div f style="color:white;">
		    {{vm.parseInt(line.drate) + vm.parseInt(line.nrate)}}
		  </div>
		    <div ng-switch on="line.eqptSts" >
				<img ng-switch-when="0" class="obj lineBtn" src="/mes/assets/img/button/Red25.png" align="center">
				<img ng-switch-when="1" class="obj lineBtn" src="/mes/assets/img/button/Green25.png" align="center">
				<img ng-switch-when="2" class="obj lineBtn" src="/mes/assets/img/button/White25.png" align="center">
				<img ng-switch-when="3" class="obj lineBtn" src="/mes/assets/img/button/Blue25.png" align="center">
				<img ng-switch-when="4" class="obj lineBtn" src="/mes/assets/img/button/Red25.png" align="center">
		  	</div>
		</div>
		</div>
		</div>
	</div>

	</bc-form-body>
</div>

