<!-- 
/**  
 * @Class Name : fmbMode.html
 * @Description : fmbDevelopementMode
 * @Modification Information  
 * @

 * @ ----------  ---------  -------------------------------
 * @ 2017.05  

 * css: assets/css/fmb.css
 * controller : fmbModeCtrl.js
 *
 */
 -->

<!-- ngview 내부 페이지 -->
<div test-ctrl custom-keypress class='md-screen'>
    
<md-form-header>
	<!--     좌상단 버튼   -->
	<md-config-btn>
			<!-- mdDrtv.js/monFileSelect($file)/ mdConfigBtn -->
			<!-- <div class='Btn'>" +
         			"<div ng-click='toggleLeft()' class='configBtn'>" +
         					"<img ng-click='vm.toggleLeft()' title='설정' src='assets/img/system/config_white.png' />" +
         			"</div>" +
         			"<div ng-click='saveEqptData()' class='saveBtn'>" +
         				"<img ng-click='vm.saveEqptData()' title='저장' src='assets/img/system/send_white.png' />" +
         			"</div>" +
         			"<div ng-click='uploadImg(test)' class='saveBtn'>" +
     				"<img ng-click='vm.uploadImg()' title='업로드' src='assets/img/system/upload_image.png' />" +
     				"</div>" +
     				"<div ng-click='FindImg()' class='saveBtn'>" +
     				"<img ng-click='vm.FindImg(vm.eqptParamVo.factId)' title='찾기' src='assets/img/system/bg_image_change.png' />" +
     				"</div>" +
         		"</div>" -->
	</md-config-btn>
	<!--     좌상단 끝   -->
	<!-- 공장별 보기 -->
	 <md-radio-group ng-model="vm.eqptParamVo.factId" ng-change="vm.changeFact()">
 		<md-radio-button class="md-radio-button" value="Comb">전체공장</md-radio-button>
		<!-- <md-radio-button class="md-radio-button" value="A" >A동</md-radio-button> -->
		<!-- <md-radio-button class="md-radio-button" value="B" >B동</md-radio-button> -->
		<!-- <md-radio-button class="md-radio-button" value="C"> C동 </md-radio-button> -->
	</md-radio-group>
	
	<!-- Type별 보기 -->
	<md-radio-group ng-model="vm.eqptParamVo.eqptType" ng-change="vm.changeType()">
 		<md-radio-button class="md-radio-button" value="ANDON">안돈현황</md-radio-button>
		<md-radio-button class="md-radio-button" value="PLC" >설비가동현황</md-radio-button>
		<md-radio-button class="md-radio-button" value="COUNT" >생산현황</md-radio-button>
	</md-radio-group>	
	
      <md-slider flex md-discrete ng-model="vm.sensRating" step="1" min="1" max="10" aria-label="rating" ng-change="vm.sensChange(vm.sensRating)" style="width: 400px; left: 1400px; margin-top: 40px;">
      </md-slider>
      
</md-form-header>


<!-- 좌측설비설정 슬라이드메뉴 -->
<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-style="{'opacity' : vm.opacityData / 100, 'z-index' : 910}">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">설비 (버튼) 설정</h1>
        <md-slider ng-model="vm.opacityData" min="40" max="100" aria-label="regular slider" ng-change="vm.opacityChange(opacityData)" style="width:170px; left:300px;"></md-slider>
        <md-button ng-click="vm.crtEqptModal()" class="md-accent">생성</md-button>
        <md-button ng-click="vm.toggleLeft()" class="md-accent">닫기</md-button>
      </md-toolbar>

      <md-content layout-margin>
		<div layout="row" ng-cloak>
			<div flex>
				<md-tabs class="md-accent" md-selected="0">
					<md-tab id="tab1">
						<md-tab-label>리스트</md-tab-label>
						<md-button class="md-raised" ng-click="vm.deleteDiv($index)">Button</md-button>
						<md-tab-body>
				      		<md-list-item class="md-2-line" ng-class=" {'list_selected' : vm.selected === $index}" ng-repeat="eqpts in vm.eqptList" ng-click="vm.setSelectedData($index)" ng-hide="eqpts.status == 'delete'">
					      		<div class="md-list-item-text" layout="column">
					      			<h3>{{ eqpts.id }}</h3>
					      			<div ng-switch on="eqpts.status">
					      			<p ng-switch-when="insert">신규</p>
					      			<p ng-switch-when="update">수정</p>
					      			<p ng-switch-when="keep">  </p>
					      			</div>
				         		</div>
				         		<md-button class="md-raised" ng-click="vm.deleteDiv($index)">삭제</md-button>
				      		</md-list-item>
		      			</md-tab-body>
		      		</md-tab>
	      		</md-tabs>
	      	</div>
		<div flex>
		<md-tabs class="md-accent" md-selected="0">
			<md-tab id="tab1">
		      	<md-tab-label>Basic</md-tab-label>
		        <md-tab-body>
	   				<md-input-container>
          				<label>Class 명</label>
          				<input ng-model="vm.eqptList[vm.configSetting.index].eqptCnm" readonly>
        			</md-input-container>
	   				
	   				<md-input-container>
          				<label>Type</label>
          				<md-select ng-model="vm.eqptList[vm.configSetting.index].eqptType">
            				<md-option><em>None</em></md-option>
            				<md-option value="PLC"> PLC </md-option>
            				<md-option value="SPC"> SPC </md-option>
            				<md-option value="ANDON"> ANDON </md-option>
            				<md-option value="COUNT"> COUNT </md-option>
          				</md-select>
          			</md-input-container>
        			
	   				<md-input-container>
          				<label>PLC_ID</label>
          				<md-select ng-model="vm.eqptList[vm.configSetting.index].id">
            				<md-option><em>None</em></md-option>
            				<md-option ng-repeat="plc in vm.plcList" value="{{plc.plcId}}">
              					{{plc.plcId}}
            				</md-option>
          				</md-select>
          			</md-input-container>
          			
          			<md-input-container>
          				<label>FACT_ID</label>
          				<md-select ng-model="vm.eqptList[vm.configSetting.index].factId" required>
            				<md-option><em>None</em></md-option>
            				<md-option value="A"> A </md-option>
            				<md-option value="B"> B </md-option>
            				<md-option value="C"> C </md-option>
            				<md-option value="Comb"> Comb </md-option>
          				</md-select>
          			</md-input-container>
		        </md-tab-body>
			</md-tab>
		   	<md-tab id="tab2">
				<md-tab-label>Detail</md-tab-label>
		        <md-tab-body>
		        <div class="cssData" ng-if="vm.configSetting.index != null">
		        	<md-input-container>
          				<label>Top</label>
          				<input ng-model = "vm.eqptList[vm.configSetting.index].cssTop">
        			</md-input-container>
        			<md-input-container>
          				<label>Left</label>
          				<input ng-model= "vm.eqptList[vm.configSetting.index].cssLeft">
        			</md-input-container>
        			<md-input-container>
          				<label>Width</label>
          				<input ng-model ="vm.eqptList[vm.configSetting.index].cssWidth">
        			</md-input-container>
        			<md-input-container>
          				<label>Height</label>
          				<input ng-model ="vm.eqptList[vm.configSetting.index].cssHeight">
        			</md-input-container>
        			<md-input-container>
          				<label>zIndex</label>
          				<input ng-model ="vm.eqptList[vm.configSetting.index].cssZindex">
        			</md-input-container>
        			<md-input-container>
          				<label>Image</label>
          				<!-- <input ng-model ="vm.eqptList[vm.configSetting.index].stsImg0"> -->
					  <md-select ng-model="vm.eqptList[vm.configSetting.index].stsImg0" placeholder="Image">
					    <md-option ng-value="button.value" ng-repeat="button in buttons" >{{button.name}}</md-option>
					    
					  </md-select>
        			</md-input-container>
        			<md-input-container>
        				<label>URL</label>
						<input ng-model ="vm.eqptList[vm.configSetting.index].stsImg0">
        			</md-input-container>
	   				<div class="prev" style='margin:10px 0 0 0'>
	   					<img class='prevImg' src="{{vm.eqptList[vm.configSetting.index].stsImg0}}" />
	   				</div>
	   			</div>
		        </md-tab-body>
		      </md-tab>
		    </md-tabs>
	    </div> 
    </div>
  </md-content>

</md-sidenav>

<!-- 좌측설비설정 슬라이드메뉴 -->


<bc-form-body class='col-md-12 col-sm-12 col-xs-12' style="padding:0;">
   <!--설비클래스 삽입 시작-->
   <bc-back-panel2>
<!--<div bg-inner-ctrl class='bg-panel eqpt_plc_c'></div> -->
   	
  	<div ng-switch on="vm.eqptParamVo.factId" style="position:absolute;">
   	<img ng-switch-when="A" class='col-md-12 col-sm-12 col-xs-12' src='{{eachBg.A}}' style="padding:0"/>
   	<img ng-switch-when="B" class='col-md-12 col-sm-12 col-xs-12' src='{{eachBg.B}}' style="padding:0"/>
   	<img ng-switch-when="C" class='col-md-12 col-sm-12 col-xs-12' src='{{eachBg.C}}' style="padding:0"/>
   	<img ng-switch-when="Comb" class='col-md-12 col-sm-12 col-xs-12' src='{{eachBg.Comb}}' style="padding:0"/>
    </div>
    
	<div id="EQPT" class="EQPT col-md-12 col-sm-12 col-xs-12" style="padding:0">	 
   <!-- 설비이미지 repeat -->
       <ul>
         <li u-ctrl data='eqpt' ng-repeat="eqpt in vm.eqptList" ng-hide="eqpt.status =='delete'">
          <div task-data="vm.eqptList" target-data="$index" ng-draggable='dragOptions' rating='sensRating1' class="{{eqpt.eqptCnm}}" status="{{eqpt.status}}" type="{{eqpt.eqptType}}" plc="{{eqpt.id}}"
            ng-style="{'position':'absolute', 'top':eqpt.cssTop, 'left': eqpt.cssLeft, 'width':eqpt.cssWidth, 'height':eqpt.cssHeight,'z-index':eqpt.cssZindex}">
               
                 	<div ng-switch on="vm.eqptParamVo.eqptType">
		              	<img ng-switch-when="PLC" ng-mouseover='hoverIn($index)' ng-mouseleave='hoverOut($index)'  class="obj" src="{{eqpt.stsImg0}}" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};">
					   	<div ng-switch-when="SPC" ng-mouseover='hoverIn($index)' ng-mouseleave='hoverOut($index)'  class="obj"  align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};background-color:red; color:white;">111</div>
					   	<div ng-switch-when="COUNT" ng-mouseover='hoverIn($index)' ng-mouseleave='hoverOut($index)'  class="obj" align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};background-color:#656464; color:white;">111</div>
					   	<div ng-switch-when="ANDON" ng-mouseover='hoverIn($index)' ng-mouseleave='hoverOut($index)'  class="obj"  align="center" style="width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}};">
						   	<img src="{{eqpt.stsImg0}}">
						   	<img src="{{eqpt.stsImg2}}">
						   	<img src="{{eqpt.stsImg4}}">
					   	</div>
           				<span class="hint" ng-if="hover[$index]" >{{eqpt.id}}</span>
				    </div>      
            </div>
         </li>
      </ul>
      <div class="pointer" ng-if=vm.pointer.display  ng-hide=!vm.pointer.display ng-class=" {'show_animate' : vm.pointer.animateTrigger === 'on'}" style="position:absolute; width:25px; height:25px; z-index:900;" ng-style="{'top':vm.pointer.top, 'left':vm.pointer.left}"><img src="assets/img/system/arrow.png"/></div>
		 <!-- display: {{vm.pointer.display}}; -->  
   </div>
   
   </bc-back-panel2>
      <!--설비클래스 삽입 끝-->
</bc-form-body>

</div>
<!------------------------------------------ modal body start------------------------------------------------------->
<modal title="신규 생성" visible="vm.showModal">
<form role="form" ng-submit="submit()">
   <ul>
      <li>
         <div class="form-group">
            <md-input-container>
   				<label>Class 명</label>
   				<input ng-model="crtEqpt.cnm">
 			</md-input-container>
         </div>
         <div class="form-group">
            <md-input-container>
  				<label>Type</label>
  				<md-select ng-model="crtEqpt.type" ng-init="vm.eqptParamVo.eqptType">
    				<md-option><em>None</em></md-option>
    				<md-option value="PLC"> PLC </md-option>
    				<!-- <md-option value="SPC"> SPC </md-option> -->
    				<md-option value="ANDON"> ANDON </md-option>
    				<!-- <md-option value="COUNT"> COUNT </md-option> -->
  				</md-select>
  			</md-input-container>
         </div>
         <div class="form-group" ng-switch on="crtEqpt.type">
            
            <md-input-container ng-switch-when="PLC">
           		 <label>PLC_ID</label>
           		   	<md-select ng-model="crtEqpt.id">
     				<md-option><em>None</em></md-option>
     				<md-option ng-repeat="plc in vm.plcLst" value="{{plc}}">
       					{{plc}}
     				</md-option>
   				</md-select>
   			</md-input-container>
   			
   			<!-- <md-input-container ng-switch-when="SPC">
           		 <label>SPC_ID</label>
           		   	<md-select ng-model="crtEqpt.id">
     				<md-option><em>None</em></md-option>
     				<md-option ng-repeat="plc in vm.plcLst" value="{{plc}}">
       					{{plc}}
     				</md-option>
   				</md-select>
   			</md-input-container> -->
   			
  	 	<md-input-container ng-switch-when="ANDON">
           		 <label>ANDON_ID</label>
           		   	<md-select ng-model="crtEqpt.id">
     				<md-option><em>None</em></md-option>
     				<md-option ng-repeat="andon in vm.andonLst" value="{{andon}}">
       					{{andon}}
     				</md-option>
   				</md-select>
   			</md-input-container>
   			
   			<!-- <md-input-container ng-switch-when="COUNT">
           		 <label>COUNT_ID</label>
           		   	<md-select ng-model="crtEqpt.id">
     				<md-option><em>None</em></md-option>
     				<md-option ng-repeat="count in vm.countLst" value="{{count}}">
       					{{count}}
     				</md-option>
   				</md-select>
   			</md-input-container> -->
         </div>
<!--          <div class="form-group">
            <md-input-container>
   				<label>FACT_ID</label>
   				<md-select ng-model="crtEqpt.factId">
     				<md-option><em>None</em></md-option>
     				<md-option value="A"> A </md-option>
     				<md-option value="B"> B </md-option>
     				<md-option value="C"> C </md-option>
   				</md-select>
   			</md-input-container>   
         </div>		 -->	      
      </li>
   </ul>
   	<md-button class="md-raised md-primary" type="submit" data-dismiss="modal" aria-hidden="true" ng-click="vm.showModal=false" style="width:50px;margin: 0 256px;" >저장</md-button>
   <!-- <input style="margin:20px 0 10px 250px;"type="submit" value=" save "  ng-click="vm.showModal=false"/>  -->
    <!-- showModal=false 를 하면 자동 submit이 됨, 
    모달창을 종료할때 submit하지 않으면서 생성창을 두번누르지 않아도 되는 방법(showModal=false)을 생각해야함-->
    
<!-- <button class="btn btn-default" data-dismiss="modal"
      aria-hidden="true" ng-click="vm.showModal=false">닫기</button> -->
</form>
</modal>

<!-------------------------------------------modal body end------------------------------------------------------->