<!-- 
/**  
 * @Class Name : fmbMon.html
 * @Description : fmbMon
 * @Modification Information  
 * @

 * @ ----------  ---------  -------------------------------
 * @ 2017.05	 정유경
 * 

 * css: assets/css/fmb.css
 * controller : fmbMonCtrl.js
 *
 */
 -->
 <style type="text/css">
    #warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }
</style>
 

<!-- ngview 내부 페이지 -->
<div test-ctrl class='bc-screen' style="margin:0">
	<script src="modules/cmm/services/cmmFactSrvc.js"></script>
	

<!-- ngview 내부 header -->

<bc-form-header logo='assets/img/system/logo.png' title="생산 자원 통합 모니터링" is-mobile="isMobile" style="display:flex; align-items:center; flex-wrap: wrap;">
<img src="assets/img/system/legend1.png"  style="margin-top: 30px;">
</bc-form-header>

<!-- ngview 내부 body -->
<bc-form-body class='col-md-12 col-sm-12 col-xs-12' style="padding:0;">
	<bc-back-panel2>
	<!--설비클래스 삽입 시작-->
  	<div ng-switch on="vm.eqptParamVo.factId" style="position:absolute;">
	   	<img ng-switch-when="A" class='col-md-12 col-sm-12 col-xs-12' src='{{eachBg.A}}' style="padding:0"/>
	   	<img ng-switch-when="B" class='col-md-12 col-sm-12 col-xs-12' src='{{eachBg.B}}' style="padding:0"/>
	   	<img ng-switch-when="C" class='col-md-12 col-sm-12 col-xs-12' src='{{eachBg.C}}' style="padding:0"/>
	   	<img ng-switch-when="Comb" class='col-md-12 col-sm-12 col-xs-12' src='{{eachBg.Comb}}' style="padding:0"/>
    </div> 
	<div class="EQPT col-md-12 col-sm-12 col-xs-12" style="padding:0">	
		 <ul>
			<!-- 설비이미지 repeat -->
			<li u-ctrl data="eqpt" ng-repeat="eqpt in vm.eqptList track by $index">
			 <!-- <div class="{{eqpt.eqptCnm}}" type="{{eqpt.eqptType}}" plc="{{eqpt.plcId}}"
				  style="top:{{eqpt.cssTop}}; left: {{eqpt.cssLeft}}; 
				  		 width:{{eqpt.cssWidth}}; height:{{eqpt.cssHeight}}; 
				  		 z-index:{{eqpt.cssZindex}};"> -->
				  <div class="{{eqpt.eqptCnm}}" type="{{eqpt.eqptType}}" plc="{{eqpt.plcId}}"
				  ng-style="{'top':eqpt.cssTop, 'left': eqpt.cssLeft, 'width':eqpt.cssWidth, 'height':eqpt.cssHeight,'z-index':eqpt.cssZindex}">
				  		
	              <div ng-switch on="vm.stsData[$index]">  
	               <img ng-switch-when="0" class="obj" src="{{eqpt.stsImg0}}" align="center" ng-style="{'width':eqpt.cssWidth, 'height':eqpt.cssHeight, 'position':'absolute'}" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="1" class="obj" src="{{eqpt.stsImg1}}" align="center" ng-style="{'width':eqpt.cssWidth, 'height':eqpt.cssHeight, 'position':'absolute'}" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="2" class="obj" src="{{eqpt.stsImg2}}" align="center" ng-style="{'width':eqpt.cssWidth, 'height':eqpt.cssHeight, 'position':'absolute'}" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="3" class="obj" src="{{eqpt.stsImg3}}" align="center" ng-style="{'width':eqpt.cssWidth, 'height':eqpt.cssHeight, 'position':'absolute'}" ng-click="showAdvanced(eqpt.plcId)">
	               <img ng-switch-when="4" class="obj" src="{{eqpt.stsImg4}}" align="center" ng-style="{'width':eqpt.cssWidth, 'height':eqpt.cssHeight, 'position':'absolute'}" ng-click="showAdvanced(eqpt.plcId)">
	               </div> 
				</div>
			</li>
		</ul>
 	</div>
	</div>
	</bc-back-panel2>
		<!--설비클래스 삽입 끝-->
</bc-form-body>
</div>


<!------------------------------------------ modal body start------------------------------------------------------->
<modal title="설비 정보" visible="vm.showModal">
<form role="form">

	<ul class="eqpt-info-modal">
		<li ng-repeat="plc in vm.plc">
			<div class="form-group">
				<label for="stsImg0"></label>
			</div>
			<div class="form-group">
				<label for="plcId">PlcID </label>
				<h5>{{plc.plcId}}</h5>
			</div>
			<div class="form-group">

				<label for="eqptCd">설비코드 </label>
				<h5>{{plc.eqptCd}}</h5>
			</div>
			<div class="form-group">
				<label for="eqptNm">설비명</label>
				<h5>{{plc.eqptNm}}</h5>
			</div>
			<div class="form-group">
				<label for="factId">공장ID</label>
				<h5>{{plc.factId}}</h5>
			</div>
			<div class="form-group">
				<label for="lineNm">라인명 </label>
				<h5>{{plc.lineNm}}</h5>
			</div>
			<div class="form-group">
				<label for="item_Cd">제품코드 </label>
				<h5>{{plc.item_Cd}}</h5>
				
			</div>
			<div class="form-group">
				<label for="eqptSts">설비상태 </label>
				<h5>{{plc.eqptSts}}</h5>
			</div>
			<div class="form-group">
				<label for="stsDttm">설비 </label>
				<h5>{{plc.stsDttm}}</h5>
			</div>

		</li>
	</ul>
<button type="button" class="btn btn-default" data-dismiss="modal"
		aria-hidden="true">close</button>
</form>
</modal>

<!-------------------------------------------modal body end------------------------------------------------------->