<!-- 
/**  
 * @Class Name : fmbTbm.html
 * @Description : fmbTbm
 * @Modification Information  
 * @

 * @ ----------  ---------  -------------------------------
 * @ 2017.06.16	 정유경
 * 

 * css: assets/css/fmb.css
 * controller : fmbTmbCtrl.js
 *
 */
 -->
<!-- ngview 내부 페이지 -->
<div test-ctrl class='bc-screen' style="margin:0">
<bc-form-header logo='assets/img/system/logo.png' title="TBM" is-mobile="isMobile" style="display:flex; align-items:center; flex-wrap: wrap;">
</bc-form-header>
	<!-- ngview 내부 header -->
<!-- <div class='inner-header' style='width:1919px; height:116px;'>
		<img src="assets/img/system/logo.png" style="margin:30px 30px 0 30px; float:left;">
		<p style="margin:30px 250px 0 525px; float:left; color:white; font-size:30pt; font-weight: bold;">TBM</p>
	</div>
 -->

	<!-- ngview 내부 body -->
	<bc-form-body>
	<div class="tbmTable" layout="row" style="width:90%; margin:auto;">
	 	<div grid-tbm-panel-ctrl data= "vm.Tbm" is-mobile="isMobile" layout="column" layout-fill layout-wrap style="width:18%;" class="colorNestedTbm">
			<div style="color:white; border-radius:20px 0 0 0;">구분</div>
			<div style="color:white;">금일 점검예정</div>
			<div style="color:white;">점검 진행중</div>
			<div style="color:white; background-color: #2f485b;" >금일 점검완료</div>
			<div style="color:white;">금주 점검예정</div>
			<div style="color:white;  border-radius:0 0 0 20px;">금주 점검완료</div>
		</div>
		
		
		<div class="colList" style="width:82%;">
		<div grid-tbm-panel-ctrl  data= "vm.Tbm" is-mobile="isMobile" flex  layout="column" layout-fill layout-wrap  class="colorNestedTbm">
 			<div layout="row" style="border-radius:0 20px 0 0;">
				<div flex style="color:white;">1반</div>
				<div flex style="color:white;">2반</div>
				<div flex style="color:white;">3반</div>
				<div flex style="color:white;">4반</div>
				<div flex style="color:white;">5반</div>
				<div flex style="color:white;">6반</div>
				<div flex style="color:white;">7반</div>
				<div flex style="color:white;">기타</div>
				<div flex style="color:white;">합계</div>
			</div>
			

			<div layout="row" flex  ng-repeat="tbm in vm.Tbm track by $index">
				<div flex style="color:white;">{{tbm.fact1}}</div>
				<div flex style="color:white;">{{tbm.fact2}}</div>
				<div flex style="color:white;">{{tbm.fact3}}</div>
				<div flex style="color:white;">{{tbm.fact4}}</div>
				<div flex style="color:white;">{{tbm.fact5}}</div>
				<div flex style="color:white;">{{tbm.fact6}}</div>
				<div flex style="color:white;">{{tbm.fact7}}</div>
				<div flex style="color:white;">{{tbm.factX}}</div>
				<div flex style="color:white;">{{tbm.total}}</div>
			</div>
		</div>
	</div>
	
	</bc-form-body>
</div>
