<!-- 
/**  
 * @Class Name : fmb006.html
 * @Description : fmb006
 * @Modification Information  
 * @

 * @ ----------  ---------  -------------------------------
 * @ 2017.05	 정유경
 * 

 * css: assets/css/fmb.css
 * controller : fmbTotalCtrl.js
 *
 */
 -->
<!-- ngview 내부 페이지 -->
<div class='bc-screen'>

	<!-- ngview 내부 header -->
	<div class='inner-header' style='width:1919px; height:116px;'>
		<img src="assets/img/system/logo.png" style="margin:30px 30px 0 30px; float:left;">
		<p style="margin:30px 250px 0 525px; float:left; color:white; font-size:30pt; font-weight: bold;">생산 자원 종합 현황</p>
	</div>


	<!-- ngview 내부 body -->
	<bc-form-body>
	
	<bc-bg-panel>
		<div class="stsBoard dashLg">
			<div class="stsTitle">
				<p>계획 진도율</p>
			</div>
			<img class="stsbackLg" src="/mes/assets/img/dash/dash_panel_lg.png"/>
			<div class="stsBody">
				<div id="chart" dx-chart="vm.planProgress"></div>
			</div>
		</div>
	
		<div class="stsBoard dashLg">
			<div class="stsTitle">
				<p>공정 불량현황</p>
			</div>
			<img class="stsbackLg" src="/mes/assets/img/dash/dash_panel_lg.png"/>
			<div class="stsBody workPie">
       			<div id="pie" dx-pie-chart="vm.pieChart"></div>
			</div>
			<div class="workInfo">
				<div class="workInfoGrid">
					<div class="workFirstBox grey"> 
						<p>순위</p>
					</div>
					<div class="workSecondBox grey"> 
						<p>품목</p>
					</div>
					<div class="workThirdBox grey"> 
						<p>수량</p>
					</div>
					<div class="workFirstBox dBlue">
						<p>1</p>
					</div>
					<div class="workSecondBox dBlue"> </div>
					<div class="workThirdBox dBlue"> </div>
					
					<div class="workFirstBox rBlue">
						<p>2</p>
					</div>
					<div class="workSecondBox rBlue"> </div>
					<div class="workThirdBox rBlue"> </div>				
	
					<div class="workFirstBox dBlue">
						<p>3</p>
					</div>
					<div class="workSecondBox dBlue"> </div>
					<div class="workThirdBox dBlue"> </div>
					
					<div class="workFirstBox rBlue">
						<p>4</p>
					</div>
					<div class="workSecondBox rBlue"> </div>
					<div class="workThirdBox rBlue"> </div>
					
					<div class="workFirstBox dBlue">
						<p>5</p>
					</div>
					<div class="workSecondBox dBlue"> </div>
					<div class="workThirdBox dBlue"> </div>
					
					<div class="workFirstBox rBlue">
						<p>기타</p>
					</div>
					<div class="workSecondBox rBlue"> </div>
					<div class="workThirdBox rBlue"> </div>	
				</div>
				<div class="workInfoPpm">
					<div class="ppmTitle">
						<p>전체 불량률</p>
					</div>
					<div class="ppmValue">
						<p>45 PPM</p>
					</div>
				</div>			
			</div>
			<div class="stsBody workBar">
       			<div id="chart" dx-chart="vm.workChart"></div>
			</div>
		</div>
	
		<div class="stsBoard dashSm">
			<div class="stsTitle">
				<p>라인 가동현황</p>
			</div>
			<img class="stsbackSm" src="/mes/assets/img/dash/dash_panel_sm.png"/>
			<div class="stsBody runGauge">
				<div dx-circular-gauge="vm.gaugeRunRate"></div>
				<!-- <div dx-data-grid="vm.gaugeRunInfoList"></div> -->
			</div>
			<div class="gaugeInfo">
				<div class="gaugeTitleBox"> 
					<p>가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;동</p>
				</div>
				<div class="gaugeValueBox"> 
					<p>{{vm.gauge.run}}</p>
				</div>
				<div class="gaugeTitleBox"> 
					<p>대&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;기</p>
				</div>
				<div class="gaugeValueBox"> 
					<p>{{vm.gauge.standby}}</p>
				</div>
				<div class="gaugeTitleBox"> 
					<p>비&nbsp;&nbsp;가&nbsp;&nbsp;동</p>
				</div>
				<div class="gaugeValueBox"> 
					<p>{{vm.gauge.norun}}</p>
				</div>
				<div class="gaugeTitleBox"> 
					<p>알&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;람</p>
				</div>
				<div class="gaugeValueBox"> 
					<p>{{vm.gauge.alarm}}</p>
				</div>
			</div>
		</div>
		
		<div class="stsBoard dashSm">
			<div class="stsTitle">
				<p>알람 발생추이</p>
			</div>
			<img class="stsbackSm" src="/mes/assets/img/dash/dash_panel_sm.png"/>
			<div class="stsBody">
				<div dx-chart="vm.alarmDateRunInfo"></div>
				<!-- <div dx-data-grid="vm.alarmRankRunInfoList"></div> -->
			</div>
			<div class="topInfo">
				<div class="infoTitle">
					<p class="titleValue">발생량 순위</p>
				</div>
				<div class="firstTitleBox"> 
					<p>1. {{vm.info.alarm.firstTitle}}</p>
				</div>
				<div class="firstValueBox"> 
					<p>{{vm.info.alarm.firstValue}}</p>
				</div>
				<div class="secondTitleBox">
					<p>2. {{vm.info.alarm.secondTitle}}</p>
				</div>
				<div class="secondValueBox">
					<p>{{vm.info.alarm.firstValue}}</p>
				</div>
				<div class="thirdTitleBox">
					<p>3. {{vm.info.alarm.thirdTitle}}</p>
				</div>
				<div class="thirdValueBox">
					<p>{{vm.info.alarm.thirdValue}}</p>
				</div>	
			</div>
		</div>
		
		
		<div class="stsBoard dashSm">
			<div class="stsTitle">
				<p>대기 발생추이</p>
			</div>
			<img class="stsbackSm" src="/mes/assets/img/dash/dash_panel_sm.png"/>
			<div class="stsBody">
				<div dx-chart="vm.standbyDateRunInfo"></div>
				<!-- <div dx-data-grid="vm.standbyRankRunInfoList"></div> -->
			</div>
			<div class="bottomInfo">
				<div class="infoTitle">
					<p class="titleValue">발생량 순위</p>
				</div>
				<div class="firstTitleBox"> 
					<p>1. {{vm.info.standby.firstTitle}}</p>
				</div>
				<div class="firstValueBox"> 
					<p>{{vm.info.standby.firstValue}}</p>
				</div>
				<div class="secondTitleBox">
					<p>2. {{vm.info.standby.secondTitle}}</p>
				</div>
				<div class="secondValueBox">
					<p>{{vm.info.standby.secondValue}}</p>
				</div>
				<div class="thirdTitleBox">
					<p>3. {{vm.info.standby.thirdTitle}}</p>
				</div>
				<div class="thirdValueBox">
					<p>{{vm.info.standby.thirdValue}}</p>
				</div>	
			
			</div>
		</div>
		
		<div class="stsBoard dashSm">
			<div class="stsTitle">
				<p>비가동 발생추이</p>
			</div>
			<img class="stsbackSm" src="/mes/assets/img/dash/dash_panel_sm.png"/>
			<div class="stsBody">
				<div dx-chart="vm.noRunDateRunInfo"></div>
				<!-- <div dx-data-grid="vm.noRunRankRunInfoList"></div> -->
			</div>
			<div class="bottomInfo">
				<div class="infoTitle">
					<p class="titleValue">발생량 순위</p>
				</div>
				<div class="firstTitleBox"> 
					<p>1. {{vm.info.norun.firstTitle}}</p>
				</div>
				<div class="firstValueBox"> 
					<p>{{vm.info.norun.firstValue}}</p>
				</div>
				<div class="secondTitleBox">
					<p>2. {{vm.info.norun.secondTitle}}</p>
				</div>
				<div class="secondValueBox">
					<p>{{vm.info.norun.secondValue}}</p>
				</div>
				<div class="thirdTitleBox">
					<p>3. {{vm.info.norun.thirdTitle}}</p>
				</div>
				<div class="thirdValueBox">
					<p>{{vm.info.norun.thirdValue}}</p>
				</div>	
			</div>
		</div>
	<bc-bg-panel>
	</bc-form-body>


	<!-- ngview 내부 footer -->
	<bc-form-footer> <!--알람정보 하단 바 시작-->
	<div class="alarm_data">
		<marquee>
			<ul id="banner" class="simply-scroll-list">
				<li ng-repeat="alarm in vm.alarmList">{{alarm.plcId}} 알람발생
					{{alarm.stsDttm}}</li>
			</ul>
		</marquee>
	</div>
	</bc-form-footer>
</div>


<!------------------------------------------ modal body start------------------------------------------------------->
<modal title="설비 정보" visible="vm.showModal">
<form role="form">

	<ul>
		<li ng-repeat="plc in vm.plc">
			<div class="form-group">
				<label for="stsImg0"></label>
			</div>
			<div class="form-group">
				<label for="plcId">PlcID </label>
				<h5>{{plc.plcId}}</h5>
			</div>
			<div class="form-group">

				<label for="eqptCd">설비코드 </label>
				<h5>{{plc.eqptCd}}</h5>
			</div>
			<div class="form-group">
				<label for="eqptNm">설비명</label>
				<h5>{{plc.eqptNm}}</h5>
			</div>
			<div class="form-group">
				<label for="factId">공장ID</label>
				<h5>{{plc.factId}}</h5>
			</div>
			<div class="form-group">
				<label for="lineNm">라인명 </label>
				<h5>{{plc.lineNm}}</h5>
			</div>
			<div class="form-group">
				<label for="item_Cd">제품코드 </label>
				<h5>{{plc.item_Cd}}</h5>

			</div>
			<div class="form-group">
				<label for="eqptSts">설비상태 </label>
				<h5>{{plc.eqptSts}}</h5>
			</div>
			<div class="form-group">
				<label for="stsDttm">설비 </label>
				<h5>{{plc.stsDttm}}</h5>
			</div>

		</li>
	</ul>
	<button type="button" class="btn btn-default" data-dismiss="modal"
		aria-hidden="true">close</button>
</form>
</modal>

<!-------------------------------------------modal body end------------------------------------------------------->