
<md-dialog aria-label="eqpt info" class="infoPopup" style="width:1500px; height:900px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>이미지 업로드</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="infoPopupContent">
      <div class="md-dialog-content" style="width:1500px; height:800px;">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>업로드 선택</h3>
          <div class="example">
            <form name="form" role="form">
            	<div class="form-group">
            <!-- <div class="button" ng-model="file" name="file" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">파일선택</div> -->
            	<!-- <input type="file" ng-file-select="onFileSelect()"> -->
    			<input type="file" ng-model="file" name="file"  ngf-select="onFileSelect($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" value="$file"> 
   				<button type="submit" ng-click="submit()">업로드</button>
   				</div>
			</form>            
          </div>
          <div class="imageInfo" ng-show="imageInfo.show">
          	  <h3>업로드 달성률</h3>
          	  <h5>{{imageInfo.percentage}} %</h5>
          	  <md-progress-linear md-mode="determinate" value="{{imageInfo.percentage}}"></md-progress-linear>
	          <h3>업로드 이미지 정보</h3>
	          <h5>이미지 명 : </h5> <h5>{{imageInfo.name}}</h5>
	          <h5>사이즈 : </h5> <h5>{{imageInfo.size}}</h5>
	          <h5>타입 : </h5> <h5>{{imageInfo.type}}</h5>
	          <h5>파일 수정일 : </h5> <h5>{{imageInfo.date}}</h5>
          </div>
        </div>
      </div>

      </div>
    </md-dialog-content>
  </form>
</md-dialog>