<!-- 
 * @Class Name : main.html
 * @Description : 메인 화면
 * @Modification Information
 * @  수정일            수정자              수정내용
 * @ ----------------------------------------------------
 * @version 1.0
 * @see
 -->

<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FMB System</title>

	<!-- JQUERY -->
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- AngularJS -->
	<script src="//code.angularjs.org/1.6.1/angular.js"></script>
	<script src="//code.angularjs.org/1.6.1/angular-route.js"></script>
   	<script src="//code.angularjs.org/1.6.1/angular-cookies.js"></script>
   	<script src="//code.angularjs.org/1.6.1/angular-animate.js"></script>
   	<script src="//code.angularjs.org/1.6.1/angular-sanitize.js"></script>
   	<script src="//code.angularjs.org/1.6.1/i18n/angular-locale_ko-kr.js"></script>

    <script src="assets/js/ng-file-upload-shim.min.js"></script>
    <script src="assets/js/ng-file-upload.min.js"></script> 
    <script src="assets/js/ng-file-upload-all.min.js"></script> 
    
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
    <!-- DevExtreme dependencies-->
    <script src="assets/js/dx.all.js"></script>
    <script src="assets/js/globalize.js"></script>
    

	<!-- Bootstrap -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
   
	<!-- DevExtreme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/dx.common.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/dx.light.css" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"   crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"   
		  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"   crossorigin="anonymous">
   
	<!-- AUIgrid CSS-->   
	<link rel="stylesheet" href="/mes/vendor/AUIGrid/AUIGrid_style.css">

	<!-- AngularJS CSS -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

	<!-- custom CSS -->   
	<link rel="stylesheet" href="/mes/assets/css/fmb.css" />
	<link rel="stylesheet" href="/mes/assets/css/fmbDash.css" />
</head>

<body ng-controller="MainCtrl as vm" ng-class="{loading:loadingView}" class="container" 
	style="width: 100%;" ng-style="vm.bgTheme === 'black' && {'background-image':'url(./assets/img/system/back.png)'} || vm.bgTheme === 'blue' && {'background-image':'url(./assets/img/system/back_blue.png)'}">
	<div class="relative">
		<div class="mouse-over-bar"> 
			<button class="top-btn" ng-click='vm.btnFmbModeClick()'>개발모드</button>
			<button class="top-btn" ng-click='vm.btnFmbTbmClick()'>Tbm</button>
			<button class="top-btn" ng-click='vm.btnFmbLineCClick()'>Line별 생산실적(C)</button>
			<button class="top-btn" ng-click='vm.btnFmbLineBClick()'>Line별 생산실적(B)</button>
			<button class="top-btn" ng-click='vm.btnFmbLineAClick()'>Line별 생산실적(A)</button>
			<button class="top-btn" ng-click='vm.btnFmbTotalClick()'>생산 자원 종합 현황</button>
			<button class="top-btn" ng-click='vm.btnFmbMonClick()'>창원공장 설비 가동현황(2)</button>
			<button class="top-btn" ng-click='vm.btnFmbCwMonClick()'>창원공장 설비 가동현황(1)</button>
		   	<button class="top-btn" ng-click='vm.btnWorkerStop()'>Stop</button>
			<button class="top-btn" ng-click='vm.btnWorkerStart()'>Start</button>
		   <button class="top-btn" ng-click='vm.LotationSetting()'>페이지 전환 설정</button>
		</div>
	</div>   
	
	<div p-ctrl ng-view style='width:100%; height:1016px'></div>

	<bc-form-footer bg-ctrl>
	<!--알람정보 하단 바 시작-->
		  <div class="alarm_data" style="background-color: rgb(255, 255, 255); width:110% !important; height: 25px;">
	  		<marquee>
	      		<ul id="banner" class="simply-scroll-list" style="background-color:#333;">
	      			<li marquee-banner alarm-list="alarmList"  ng-repeat="alarm in alarmList track by $index">
	       				{{alarm.plcId}} 알람발생  {{alarm.stsDttm}}
	      			</li>
	    		</ul>
	     	</marquee>
	   </div>
	</bc-form-footer>
	
   <!-- 모달 body -->
   	<modal id="pageSetting" title="페이지 전환 설정" visible="vm.showModal" >
		<form>
     		<table style="margin-left:35px;">
    			<tr> <td></td> <td>페이지전환(초)</td> <td>데이터갱신(초)</td></tr>
     			<tr ng-repeat="page in vm.Setting">
	     			<td>  
		     			<md-switch ng-model="page.switcher" aria-label="Switch 1" style="float:left; margin:0 10px; clear:left">
		     			<label style="width:150px; margin-left: 20px;">{{page.pageNm}}</label>
		     			</md-switch>
	     			</td>
	 
	     			<td>
	    				<input style="width:100px; margin-right:10px;" type ="number" placeholder="페이지전환"+{{page.pageSeq}}+" time" name ="name" ng-model=page.rotateTime value={{page.rotateTime}}>&nbsp;&nbsp;&nbsp;
	     			</td>
	     			<td>
	    			<input style="width:100px; margin-right:10px;" type="number" placeholder="데이터갱신"+{{page.pageSeq}}+"  data refresh time" name ="name" ng-model=page.dataTime value={{page.dataTime}}>
    				</td>
     			</tr>
     		</table>
  			<br>      
  	 		<md-button class="md-raised md-primary" type="submit" data-dismiss="modal" aria-hidden="true" ng-click="vm.submit1()" style="width:50px;margin: 0 256px;" >저장</md-button>
       		<!-- <input type="submit" value="저장"  data-dismiss="modal"  aria-hidden="true" style="width:50px;margin: 0 256px;" ng-click="vm.submit1()"/> -->
      		<!--<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">닫기</button> -->
     	</form>
	</modal>
	<!-- 모달 body -->
   	
   	<!-- APP 전체 -->
   	<script src="app.js"></script>
   	<script src="assets/js/angular-modal-service.js"></script>
    
   	<!-- 메인 화면 관리 -->
	<script src="mainCtrl.js"></script>
	<script src="modules/cmm/controllers/cmmCommonsCtrl.js"></script>
	<script src="modules/cmm/controllers/cmmMatMstCtrl.js"></script>
	<script src="modules/cmm/services/cmmAjaxSrvc.js"></script>
	<script src="modules/cmm/services/cmmModalSrvc.js"></script>
	<script src="modules/cmm/services/cmmWorkerSrvc.js"></script>
	<script src="modules/cmm/services/cmmFactSrvc.js"></script>
	<script src="modules/cmm/services/cmmUtilSrvc.js"></script>
	<script src="modules/cmm/directives/cmmFormDrtv.js"></script>

   	<!-- FMB 관리 -->
	<script src="modules/fmb/controllers/fmb001Ctrl.js"></script>
	<script src="modules/fmb/controllers/fmb002Ctrl.js"></script>
	<script src="modules/fmb/controllers/fmb003Ctrl.js"></script>
	<script src="modules/fmb/controllers/fmb004Ctrl.js"></script>
	<script src="modules/fmb/controllers/fmb005Ctrl.js"></script>
	<script src="modules/fmb/controllers/fmbMonCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbCwMonCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbMainMonCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbModeCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbPopupCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbTbmCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbLineACtrl.js"></script>
	<script src="modules/fmb/controllers/fmbLineBCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbLineCCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbSpcCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbTotalCtrl.js"></script>
	<script src="modules/fmb/controllers/dialogCtrl.js"></script>
	<script src="modules/fmb/controllers/uploadCtrl.js"></script>
	<script src="modules/fmb/controllers/imageViewerCtrl.js"></script>
	<script src="vendor/pdfkit/AUIGrid.pdfkit.js"></script>
    	
	<!--  Modify Page 관리 -->
	<script src="modules/cmm/directives/mdDragDrtv.js"></script>
	<script src="modules/cmm/directives/mdDrtv.js"></script>
	<link rel="stylesheet" href="/mes/assets/css/fmbModify.css" />
    
   	<!-- 워커 관리 -->
   	<script src="worker.js"></script>
   	<script src="worker2.js"></script>
</body>
</html>