<!-- 
 * @Class Name : main.html
 * @Description : 메인 화면
 * @Modification Information
 * @  수정일            수정자              수정내용
 * @ ----------------------------------------------------
 * @version 1.0
 * @see
 -->

<!DOCTYPE html>
<html data-ng-app="app">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- 모바일용웹 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- 안드로이드 홈화면추가시 상단 주소창 제거 -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-status-bar-style" content="blue">  
<!-- ios홈화면추가시 상단 주소창 제거 -->
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<title>FMB System</title>



	<!-- JQUERY -->
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script>
		function hideAddressBar() {
		    if (document.documentElement.scrollHeight < window.outerHeight / window.devicePixelRatio)
		        document.documentElement.style.height = (window.outerHeight / window.devicePixelRatio) + 'px';
		    setTimeout(window.scrollTo(1, 1), 0);
		}
		window.addEventListener("load", function () { hideAddressBar(); });
		window.addEventListener("orientationchange", hideAddressBar());
	</script>

	<!-- AngularJS -->
	<script src="//code.angularjs.org/1.6.1/angular.js"></script>
	<script src="//code.angularjs.org/1.6.1/angular-route.js"></script>
   	<script src="//code.angularjs.org/1.6.1/angular-cookies.js"></script>
   	<script src="//code.angularjs.org/1.6.1/angular-animate.js"></script>
   	<script src="//code.angularjs.org/1.6.1/angular-sanitize.js"></script>
   	<script src="//code.angularjs.org/1.6.1/i18n/angular-locale_ko-kr.js"></script>

    <script src="assets/js/ng-file-upload-shim.min.js"></script>
    <script src="assets/js/ng-file-upload.min.js"></script> 
    <script src="assets/js/ng-file-upload-all.min.js"></script> 
    
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<!--   
    DevExtreme dependencies
    <script src="assets/js/dx.all.js"></script>
    <script src="assets/js/globalize.js"></script> -->
   
	<!-- amCharts javascript sources -->
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script type="text/javascript" src="https://cdn.amcharts.com/lib/3/serial.js"></script>
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/gauge.js"></script>
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
	<script src="modules/cmm/directives/amChartsDirective.js"></script>
		
   <!-- Bootstrap -->
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"   crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"   
		  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"   crossorigin="anonymous">
   
	<!-- AngularJS CSS -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

	<!-- custom CSS -->   
	<link rel="stylesheet" href="/mes/assets/css/fmb.css" />
	<link rel="stylesheet" href="/mes/assets/css/fmbDash.css" />
	<link rel="stylesheet" href="/mes/assets/css/responsive.css" />
	
	
	<!-- 안드로이드 icon -->
<!-- 	<link rel="icon" href="/mes/assets/img/ico/DsFmb_logo.png">
	<link rel="icon" sizes="76x76" href="/mes/assets/img/ico/DsFmb_logo76.png">  
	<link rel="icon" sizes="120x120" href="/mes/assets/img/ico/DsFmb_logo.png">  
	<link rel="icon" sizes="152x152" href="/mes/assets/img/ico/DsFmb_logo.png"> -->
	
	<link rel="manifest" href="/mes/assets/js/manifest.json">
		
	<!-- IOS icon -->
	<link rel="apple-touch-icon" href="/mes/assets/img/ico/DsFmb_logo.png">  
	<link rel="apple-touch-icon" sizes="76x76" href="/mes/assets/img/ico/DsFmb_logo76.png">  
	<link rel="apple-touch-icon" sizes="120x120" href="/mes/assets/img/ico/DsFmb_logo.png">  
	<link rel="apple-touch-icon" sizes="152x152" href="/mes/assets/img/ico/DsFmb_logo.png">
	<link rel="icon" sizes="192x192" href="/mes/assets/img/ico/DsFmb_logo.png">
	
	<!-- startup Page -->
	<link rel="touch-startup-image" href="/mes/assets/img/ico/startup.png">
	<link rel="apple-touch-startup-image" href="/mes/assets/img/ico/startup.png">
</head>


<body ng-controller="MainCtrl as vm" md-swipe-right="vm.onSwipeRight()" class="container-fluid col-md-12
 col-sm-12 col-xs-12" ng-class="{loading:loadingView}" class="container"  style="background-color:#0f2f56; padding:0">

<!-- <div id="warning-message" class="hidden-xs" style="width:100%; height:100%; background-color: #050513; color:white; font-size:30pt; opacity:0.8; position:fixed; z-index:10000;" >
  this website is only viewable <br> in landscape mode<br><br>
    이 페이지는가로모드만 지원합니다
</div> -->
<!-- <body ng-controller="MainCtrl as vm" ng-class="{loading:loadingView}" class="container" 
	style="width: 100%;" ng-style="vm.bgTheme === 'black' && {'background-image':'url(./assets/img/system/back.png)'} || vm.bgTheme === 'blue' && {'background-image':'url(./assets/img/system/back_blue.png)'}"> -->
	
	<!-- pc 버전 -->
	<div class="relative" ng-if="isMobile == false">
	
		<div class="mouse-over-bar"> 
			<span ng-show="loginChk">{{id}}</span>
	    	<md-button class="md-raised md-primary" ng-click='vm.LotationSetting()'>페이지 전환 설정</md-button>
		 	<md-button class="md-raised md-primary" ng-click='vm.btnWorkerStart()'>Start</md-button>
	   	 	<md-button class="md-raised md-primary" ng-click='vm.btnWorkerStop()'>Stop</md-button>&nbsp;||&nbsp;
		 	<md-button class="md-raised md-default" ng-click='vm.btnFmbAndonClick()'>안돈현황</md-button>
		 	<md-button class="md-raised md-default" ng-click='vm.btnFmbMonClick()'>설비가동현황</md-button>
		 	<md-button class="md-raised md-default" ng-click='vm.btnFmbTotalClick()'>생산자원종합현황</md-button>
		 	<md-button class="md-raised md-default" ng-click='vm.btnFmbLineAClick()'>Line별 생산실적(A)</md-button>
		 	<md-button class="md-raised md-default" ng-click='vm.btnFmbLineBClick()'>Line별 생산실적(B)</md-button>
		 	<md-button class="md-raised md-default" ng-click='vm.btnFmbLineCClick()'>Line별 생산실적(C)</md-button>
		 	<md-button class="md-raised md-default" ng-click='vm.btnFmbTbmClick()'>Tbm</md-button>
		 	<md-button class="md-raised md-default" ng-click='vm.btnFmbProdClick()'>생산실적 외 모니터링</md-button>
			<md-button class="md-raised md-default" ng-click='vm.btnFmbModeClick()' ng-show="id=='developer'">개발모드</md-button>&nbsp;||&nbsp;
			
			<md-button class="md-raised md-primary" ng-click='logOut()' ng-show="loginChk">로그아웃</md-button>
			<md-button class="md-raised md-primary" ng-click='winClose()'>종료</md-button>
		</div>
	</div>   
	
	<!-- 모바일 버전 -->
  <md-sidenav class="md-sidenav-left" md-component-id="left1" md-disable-backdrop md-whiteframe="4" ng-if="isMobile == true" hide-gt-md style="z-index:1002; overflow:hidden;">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" style="float:right;" ng-click="onSwipeLeft()">≡</h1>
      </md-toolbar>

      <md-content class="sideNavCtnt" layout-margin>
		<md-list class="sideNavLst">
			<md-list-item class="md-2-line" ng-click="vm.btnFmbAndonClick()">
				<div class="md-list-item-text">
					<h3>안돈현황</h3>
					<p></p>		
				</div>
			</md-list-item>
			<md-list-item class="md-2-line" ng-click="vm.btnFmbMonClick()" >
				<div class="md-list-item-text">
					<h3>설비가동현황</h3>
					<p></p>
				</div>
			</md-list-item>
			<md-list-item class="md-2-line" ng-click="vm.btnFmbTotalClick()" >

				<div class="md-list-item-text" >
					<h3>생산 자원 종합 현황</h3>
					<p></p>
					
				</div>
			</md-list-item>
			<md-list-item class="md-2-line" ng-click="vm.btnFmbLineAClick()" >
				<div class="md-list-item-text">
					<h3>Line별 생산실적(A)</h3>
					<p></p>
				</div>
			</md-list-item>
			<md-list-item class="md-2-line" ng-click="vm.btnFmbLineBClick()">
				<div class="md-list-item-text">
					<h3>Line별 생산실적(B)</h3>
					<p></p>
				</div>
			</md-list-item>
			<md-list-item class="md-2-line" ng-click="vm.btnFmbLineCClick()" >
				<div class="md-list-item-text" >
					<h3>Line별 생산실적(C)</h3>
					<p></p>
				</div>
			</md-list-item>
			<md-list-item class="md-2-line" ng-click="vm.btnFmbTbmClick()" >
				<div class="md-list-item-text">
					<h3>Tbm</h3>
					<p></p>
				</div>
			</md-list-item>	
			<md-list-item class="md-2-line" ng-click="vm.btnFmbProdClick()" >
				<div class="md-list-item-text">
					<h3>생산실적 외</h3>
					<p></p>
				</div>
			</md-list-item>				
		</md-list>
      </md-content>

    </md-sidenav>


<div style="background-image: url('assets/img/bg/login-2.png'); 
background-size:cover; background-repeat:no-repeat; width:100%; height:100%; z-index: 10000; position: fixed;" ng-show="!loginChk">

     <md-input-container class="md-warn loginId" flex-gt-sm>
            <label style="color:white;">ID</label>
            <input ng-model="id"  style="color:white;">
          </md-input-container>
     <md-input-container class="md-warn loginPwd" flex-gt-sm> 
            <label style="color:white;">PASSWORD</label>
            <input type="password" ng-model="pw" ng-keyup="keyUpLogin(ev)" style="color:white;">
     </md-input-container>

	<md-button class="md-raised loginBtn" ng-click="login()">Login</md-button>
	<md-checkbox ng-model="autoLogin" aria-label="자동로그인" init="false" class="md-warn autoLogin">자동로그인</md-checkbox>
	
</div>
	
	<!-- <div p-ctrl data-ng-view style='width:100%; height:1016px'></div> -->
	<div ng-clock data-ng-view class="col-md-12 col-sm-12 col-xs-12" style="padding:0" ></div>
	
	<bc-form-footer>
	<!--알람정보 하단 바 시작-->
		<div class="col-md-12 col-sm-12 col-xs-12" ng-if="isMobile == false" style="padding:0">
		  <div class="alarm_data" style="background-color: rgb(255, 255, 255); width:110% !important; height: 25px;">
	  		<marquee>
	      		<ul id="banner" class="simply-scroll-list" style="background-color:#333;">
	      			<li marquee-banner alarm-list="alarmList"  ng-repeat="alarm in alarmList track by $index">
	       				<strong>{{alarm.plcId}} 알람발생  {{alarm.stsDttm}}</strong>
	      			</li>
	    		</ul>
	     	</marquee>
	   	</div>
	   </div>
	</bc-form-footer>
	
   <!-- 모달 body -->
 
   	<modal id="pageSetting" title="페이지 전환 설정" visible="vm.showModal" >
		<form>
     		<table style="margin-left:35px;">
    			<tr> <td></td> <td>데이터갱신(초)</td> <td>갱신횟수</td></tr>
     			<tr ng-repeat="page in vm.Setting">
	     			<td>  
		     			<md-switch ng-model="page.switcher" aria-label="Switch 1" style="float:left; margin:0 10px; clear:left">
		     			<label style="width:150px; margin-left: 20px;">{{page.pageNm}}</label>
		     			</md-switch>
	     			</td>
	 
	     			<td>
	    				<input style="width:100px; margin-right:10px;" type="number" placeholder="데이터갱신"+{{page.pageSeq}}+"  data refresh time" name ="name" ng-model=page.dataTime value={{page.dataTime}}>&nbsp;&nbsp;&nbsp;
	    			</td>
	     			<td>
	    				<input style="width:100px; margin-right:10px;" type ="number" placeholder="갱신횟수"+{{page.pageSeq}}+" time" name ="name" ng-model=page.switchNum value={{page.switchNum}}>
	    				
    				</td>
     			</tr>
     		</table>
  			<br>      
  	 		<md-button class="md-raised md-primary center" type="submit" data-dismiss="modal" aria-hidden="true" ng-click="vm.submit1()" style="width:50px;margin: 0 256px;" >저장</md-button>
       		<!-- <input type="submit" value="저장"  data-dismiss="modal"  aria-hidden="true" style="width:50px;margin: 0 256px;" ng-click="vm.submit1()"/> -->
      		<!--<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">닫기</button> -->
     	</form>
	</modal>
	<!-- 모달 body -->
</body>
   	<!-- APP 전체 -->
   	<script src="app.js"></script>
   	<script src="assets/js/angular-modal-service.js"></script>
    
   	<!-- 메인 화면 관리 -->
	<script src="mainCtrl.js"></script>
	<script src="modules/cmm/controllers/cmmCommonsCtrl.js"></script>
	<script src="modules/cmm/controllers/cmmFilterCtrl.js"></script>
	<script src="modules/cmm/controllers/cmmMatMstCtrl.js"></script>
	<script src="modules/cmm/services/cmmAjaxSrvc.js"></script>
	<script src="modules/cmm/services/cmmModalSrvc.js"></script>
	<script src="modules/cmm/services/cmmWorkerSrvc.js"></script>
	<script src="modules/cmm/services/cmmFactSrvc.js"></script>
	<script src="modules/cmm/services/cmmUtilSrvc.js"></script>
	<script src="modules/cmm/directives/cmmFormDrtv.js"></script>
	
   	<!-- FMB 관리 -->
	<script src="modules/fmb/controllers/fmbMonCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbAndonCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbCwMonCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbMainMonCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbModeCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbPopupCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbTbmCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbLineACtrl.js"></script>
	<script src="modules/fmb/controllers/fmbLineBCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbLineCCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbProdCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbSpcCtrl.js"></script>
	<script src="modules/fmb/controllers/fmbTotalCtrl.js"></script>
	<script src="modules/fmb/controllers/dialogCtrl.js"></script>
	<script src="modules/fmb/controllers/uploadCtrl.js"></script>
	<script src="modules/fmb/controllers/imageViewerCtrl.js"></script>
    	
	<!--  Modify Page 관리 -->
	<script src="modules/cmm/directives/mdDragDrtv.js"></script>
	<script src="modules/cmm/directives/mdDrtv.js"></script>
	<link rel="stylesheet" href="/mes/assets/css/fmbModify.css" />
    
   	<!-- 워커 관리 -->
   	<script src="worker.js"></script>
   	<!-- <script src="worker2.js"></script> -->
   	
</html>